<footer class="footer">
	<!-- FOOTER -->
		<div class="footer_top">
			<div class="container">
				<div class="row valign-wrapper">
				<!-- NEWSLETTER -->
					<div class="news_text col l7">
						<!-- NEWSLETTERTEXT -->
						<h2>SIGN UP FOR EXCLUSIVE SALES AND PRODUCT NEWS</h2>
					</div>				
					<div class="news_signup col l5">
						<!-- SIGNUP & SEARCH -->
						<form>
							<input type="text" placeholder="email@placeholder.dk" class="col l7 offset-l1" />
							<button type="submit" class="col l3 offset-l1">SIGN UP</button>

						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="footer_bot">
			<div class="container">
				<div class="row">
				<!-- FOOTER -->
					<div class="col l4"><h2>OUR STORES</h2>
					<!-- OUR STORES -->
						
							<p>Feel free to visit our stores or contact us.</p><br>
							<p>Vinegade 109<br>5000 Odense<br>99886622</p><br>
							<p>Vestergade 910<br>9000 Aalborg<br>96819191</p>
						
						<div class="social">
						</div>
					</div>				
					<div class="col l4">
					<!-- BLOG -->
						<div class="blog_posts col l10">
						
						<div class="col l12"><h2>BLOG POSTS</h2></div>
							<div class="col l12">
								<p class="blog_row_headline">Lorem ipsum hey</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed auctor elit.</p><br>
							</div>
							<div class="col l12">
								<p class="blog_row_headline">New sexy sport clothes are here!</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed auctor elit.</p><br>
							</div>
							<div class="col l12">
								<p class="blog_row_headline">Summer sales are coming!</p>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed auctor elit.</p><br>
							</div>
						</div>
					</div>				
					<div class="col l4">
					<!-- SUPPORT -->
						<div class="support col l12">
						<div class="col l12"><h2>SUPPORT</h2></div>
							<div class="support_column col l6">
								<ul>
									<li>Terms & Conditions</li>
									<li>FAQ</li>
									<li>Payment</li>
									<li>Refunds</li>
									<li>Track Order</li>
									<li>Services</li>
									<li>Privacy & Security</li>
									<li>Careers</li>
									<li>Press</li>
									<li>Corporate Information</li>
								</ul>
							</div>
							<div class="support_column col l5 offset-l1">
								<ul>
									<li>Sizing</li>
									<li>Ordering</li>
									<li>Shipping</li>
									<li>Return Policy</li>
									<li>Affiliates</li>
									<li>Find A Store</li>
									<li>Site Map</li>
									<li>Sign Up & Save</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>