<footer class="footer">
	<!-- FOOTER -->
		<div class="footer_top">
			<div class="container">
				<div class="row valign-wrapper">
				<!-- NEWSLETTER -->
					<div class="news_text col l7 s12">
						<!-- NEWSLETTERTEXT -->
						<h2>SIGN UP FOR EXCLUSIVE SALES AND PRODUCT NEWS</h2>
					</div>				
					<div class="news_signup col l5 s12">
						<!-- SIGNUP & SEARCH -->
						<form>
							<input type="text" placeholder="email@placeholder.dk" class="col l7 offset-l1 s12" />
							<button type="submit" class="col l3 offset-l1 s12">SIGN UP</button>

						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="footer_bot">
			<div class="container">
				<div class="row">
				<!-- FOOTER -->
					<div class="col l4 s12"><h2>OUR STORES</h2>
					<!-- OUR STORES -->
						
							<p>Feel free to visit our stores or contact us.</p><br>
							<p>Vinegade 109<br>5000 Odense<br>99886622</p><br>
							<p>Vestergade 910<br>9000 Aalborg<br>96819191</p>
						<div class="social">
						</div>
					</div>				
					<div class="blog_posts col l4 pull-l1 s12">
					<!-- BLOG -->
						
						<div class="col l12"><h2>BLOG POSTS</h2></div>
							<div class="col l12">
								<p><a href="#">Lorem ipsum hey</a></p>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed auctor elit.</p><br>
							</div>
							<div class="col l12">
								<p><a href="#">New sexy sport clothes are here!</a></p>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed auctor elit.</p><br>
							</div>
							<div class="col l12">
								<p><a href="#">Summer sales are coming!</a></p>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed auctor elit.</p><br>
							</div>
					</div>				
					<div class="col l4 pull-l1 s12">
					<!-- SUPPORT -->
						<div class="support col l12 s12">
							<div class="col l12 s12">
								<h2>SUPPORT</h2>
							</div>
							<div class="support_column col l6 s6">
								<ul>
									<li><a href="#">Terms & Conditions</a></li>
									<li><a href="#">FAQ</a></li>
									<li><a href="#">Payment</a></li>
									<li><a href="#">Refunds</a></li>
									<li><a href="#">Track Order</a></li>
									<li><a href="#">Services</a></li>
									<li><a href="#">Privacy & Security</a></li>
									<li><a href="#">Careers</a></li>
									<li><a href="#">Press</a></li>
									<li><a href="#">Corporate Information</a></li>
								</ul>
							</div>
							<div class="support_column col l5 offset-l1 s6">
								<ul>
									<li><a href="#">Sizing</a></li>
									<li><a href="#">Ordering</a></li>
									<li><a href="#">Shipping</a></li>
									<li><a href="#">Return Policy</a></li>
									<li><a href="#">Affiliates</a></li>
									<li><a href="#">Find A Store</a></li>
									<li><a href="#">Site Map</a></li>
									<li><a href="#">Sign Up & Save</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>