<section>
		<!-- CATEGORIES -->
		<div class="row">
			<div class="col s12 l4 cat_item">
				<!-- FOOTBALL -->
				<div>
					<img src="images/football.png" alt="">
					<a href="#"><h2>FOOTBALL SHOES</h2></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed auctor elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div>				
			<div class="col s12 l4 cat_item">
				<div>
					<!-- CLOTHES -->
					<img src="images/shirts.png" alt="">
					<a href="#"><h2>MODERN CLOTHES</h2></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed auctor elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div>				
			<div class="col s12 l4 cat_item">
				<div>
					<!-- BAGS -->
					<img src="images/bags.png" alt="">
					<a href="#"><h2>BAGS & ACCESORIES</h2></a>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed auctor elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
				</div>
			</div>
		</div>
</section>