$font-headers: 'PT Sans', sans-serif;
$font-body: Arial;
$font-maincolor: #7e7f84;
$maincolor: #f45a40;

@mixin mobilebanner($size, $color: white){
	font-size: $size;
	color: $color;
}

/* GENERAL */

	*{
		margin: 0;
		padding: 0;
	}
	body{
		margin: 0 auto;
		font-family: $font-body;
  		color: $font-maincolor;
	}

	p{
		font-size: 12px;
	}

	h1,h2,h3,h4,h5,h6{
		font-family: $font-headers;
		font-weight: normal;
	}

	h2{
		font-size: 20px;
	}

	h3{
		font-size: 18px;
	}

	h4{
		font-size: 16px;
	}
	
	input{
		color: $font-maincolor;
	}
	
	a{
		color: $font-maincolor;

		&:hover{
		color: $maincolor;
		}
	}

	a:hover{
	}
	.container{
		width: 85%;

		.row{
			margin-bottom: 0;
		}
	}


/* NAVIGATION */
	.navigation{
		background: none;
	    height: 30px;
	    line-height: 30px;
	    padding-top: 30px;
		box-shadow: 0px 6px 0px 0px $maincolor,
                0px 8px 0px 0px,
                0px 10px 0px 0px $maincolor;

        	li:hover, a:hover{
				background: rgba(0,0,0,0);
			}

			a{
  				color: $font-maincolor;
			}

		.nav_top{
			border-bottom: 1px solid lightgrey;
			padding-bottom: 60px;



			a{
			margin-bottom: 10px;
			font-size: 14px;
			}

			.checkout{
				background: #ededed;
			}

		}
		.nav_bot{
			font-family: $font-headers;
			margin-left: -15px;
			margin-top: 5px;
			padding-bottom: -10px;
			margin-bottom: 10px;

			ul{
				li{
				    list-style: none;
				    margin-right: 30px;
					
					&:hover ul {
						visibility:visible;
						display: block;
						height:30px; /*Højden på link-bokse*/
						width:150px; /*Breden på link-bokse*/

						li{
							background: white;
							width: 100%;
						}
					}
				    a{
					font-size: 18px;
				    }
				}
				ul {
				position:absolute;
				visibility:hidden;
				top:30px;

				}
				
			}
			.search{
				.searchicon{
	  				color: $font-maincolor;
	  				display: inline;
				}
				input{
					color: $font-maincolor;
					border: none;
				}
			}
		}

	}
	nav i.material-icons {
	    display: inline;
	    font-size: 18px;
	    height: 24px;
	    line-height: 20px;
	    padding-right: 5px;
	}

	nav.nav-extended .nav-wrapper{
		min-height: 40px;
	}
	nav{
		ul{
			li{
				a{
					
					&:hover{
		  				color: $maincolor;
		  			}
				}
			}
				
		}
	}
  
/* BANNER */

		header{
			margin-bottom: 50px;
			background: url(../../images/banner.png);
			width: 100%;
			height: 640px;
			background-size: cover;

			.blackbox{
				background-color: rgba(0,0,0,0.5);
				height: 350px;
				margin-top: 10%;
				h1,p{
					color: white;
				}

				button{
					margin-top: 20px;
				}
			}				
		}

/* MAIN */
	/* INDEX */
	
		/* CATEGORIES */

			.cat_item{
				p{
					font-size: 14px;
					word-wrap: break-word;
				}
				a{
					color: $maincolor;
					text-decoration: none;

					&:hover{
						text-decoration: underline;
					}
				}
				img{
					width: 100%;
				}
			}

		/* POPULAR */
			
			/* HEADING */

				.vertical{
					height: 1px;
					width: 20px;
				}

				.popularrow{
					margin-top: 50px;

				}

			
			/* SHOES */
				
				.shoesrow{
					margin-top: 10px;

					.popular{
					margin-bottom: 25px;

						.row_med{
							a{
								color: $font-maincolor;

								&:hover{
									color: $maincolor;
								}
							}
						}

						.row_top, .row_med{
							border: 1px solid #e6e6e6;
						}

						.row_top{
							margin-bottom: 0px;
							border-bottom: none;

							img{
								width: 100%;
								margin-bottom: 40px;
								margin-top: 40px;
							}
						}

						.row_med{
							padding-top: 10px;
							padding-bottom: 5px;
							margin-bottom: 0px;
							border-bottom: none;

							h3,h4{
								margin: 0px;
								margin-top: 5px;
							}

							h4{
								font-size: 14px;
							}
							
							.shoep{
								color: $maincolor;
								font-size: 14px;
							}

							.material-icons{
								font-size: 20px;
							}

							.bottom-border{
								border-bottom: 1px solid #e6e6e6;
								padding-bottom: 10px;
								margin-bottom: 10px;
							}
						}

						.row_bot{
							button{
								box-shadow: none;

								&:hover{
									background: #FC7C5E !important;
								}
							}
						}
					}
				}

				

	/* CONTACT */

		.contact{
			min-height: 500px;

			h2{
				font-weight: bold;
				font-size: 28px;
				letter-spacing: 2px;
			}
			
			.row{
				margin-top: 10px;
			}

			#contactname, #contactemail{
				height: 30px;
				border: 1px solid $font-maincolor;
				width: 73%;
			}
			
			.contact_message{
				margin-top: 25px;
			}
			.textarea{
				height: 100px;
				resize: none;
				margin-top: 5px;
				padding-top: 5px;		
			}

			button{
				margin-top: 10px;
				box-shadow: none;

				&:hover{
					box-shadow: none;
					background: #FC7C5E !important;
				}
			}
		}

	/* DETAIL */
		/* TOP */

			.detailright{
				label{
					font-size: 20px;
					font-weight: bold;
				}
			}
			
			.shoesize{
				margin-top: 20px;

				input, select{
					height: 40px;
					border: 1px solid $font-maincolor;
				}

				select{
					line-height: 40px;
					background: white;
				}

				option{
					background: white;
				}

			}

			.shoebutton{
				margin-top: 40px;

				button{
					box-shadow: none;

					&:hover{
						box-shadow: none;
						background: #FC7C5E !important;
					}
				}
			}

			.shoename{
				h2{
					font-weight: bold;
					font-size: 24px;
				}
			}

			.shoeprice{
				font-size: 40px;
				color: black;
				font-weight: bold;
			}

			.shoeorgprice{
				font-size: 30px;
				text-decoration: line-through;
			}

			.shoediscount{
				font-size: 20px;
				font-style: italic;
			}
			
			.shoeborder{
				border: 1px solid #e6e6e6;
				margin-top: 10px;
				width: 100%;
				img{
				}
			}
			.shoeborders{
			margin-top: 10px;
			border: 1px solid #e6e6e6;
			height: 180px;
			width: 200px;
				img{
					width: 100%;
					height: 100%;
				}
			}


		/* TABS */


			.tabs-menu {
			    height: 50px;
			    margin-top: 20px;
			    float: left;
			    font-size: 18px;
			}

			.tabs-menu li {
			    height: 50px;
			    line-height: 50px;
			    float: left;
			    margin-right: 10px;
			    background-color: #ededed;
			    border-radius: 10px 10px 0px 0px;
			    width: 140px;
			    text-align: center;
			}

			.tabs-menu li.current {
			    position: relative;
			    border-top: 5px solid $maincolor;
			    z-index: 5;
			}

			.tabs-menu li a {
			    padding: 15px;
			    color: $font-maincolor;
			    text-decoration: none; 
			}


			.tabs-menu .current a {
			    color: $font-maincolor;
			}

			.tab {
			    border: 1px solid #d4d4d1;
			    background-color: #fff;
			    float: left;
			    margin-bottom: 20px;
			    width: auto;
			}

			.tab-content {
			    width: 660px;
			    padding: 20px;
			    display: none;
			}

			#tab1 {
			 display: block;   
			}
			
			

/* FOOTER */

	.footer{
		h2{
			color: white;
		}

		/* NEWSLETTER */
			.footer_top{
				background: #f45a40;
				height: 100px;
				
				.news_text{
					padding-top: 10px;
				}

				.news_signup{
					padding-top: 20px;
				}
				.news_signup input{
					background: white;
					border: none;
					text-transform: uppercase;
					height: 40px;
				}

				.news_signup button{
					background: #ff674f;
					border: none;
					color: white;
					height: 40px;

					&:hover{
						background: #FC7C5E;
					}
				}
			}
		/* REALFOOTER */
			.footer_bot{
				background: #2a2d34;
				
				p, li{
				line-height: 20px;
				font-size: 14px;
				}

				h2{
					margin-bottom: 10px;
				}

				.blog_posts a{
					color: white;

					&:hover{
						color: $maincolor;
					}
				}
			
			}
	}


/* MOBILE */

	/* NAVIGATION */

@media only screen and (max-width : 600px) {
	/* NAVIGATION */
		.navigation{
		    height: 0;
		    line-height: 30px;
		    padding-top: 0;
			float: left;
			margin-bottom: 10px;

			.brand-logo{
				margin-top: 10px;
			}
			.nav_top{
				padding-bottom: 0;
				float: left;
				
				ul{
					margin-top: 40px;
					li{
					    width: 100%;

					}
					
				}

			}
			.nav_bot{
				font-family: $font-headers;
				float: left;

				ul{
					li{
					    list-style: none;
					    float: left;
					    width: 100%;
					    text-align: center;
					}
					
				}
				.search{
					width: 100%;
					input{
						width: 90%;
					}
				}
			}

		}
			
	
	/* BANNER */


		header{
			margin-bottom: 50px;
			background: url(../../images/banner.png);
			width: 100%;
			height: 200px;
			float: left;
			background-size: cover;

			.blackbox{
				background-color: rgba(0,0,0,0.5);
				height: 180px;
				margin-top: 10px;
				
				h1{
					@include mobilebanner(30px);
				}
				
				p{
					@include mobilebanner(12px);
				}
				button{
					margin-top: 20px;
				}
			}				
		}

	/* MAIN */

		/* INDEX */

			/* CATEGORIES */

				.cat_item{
					margin-top: 15px;
					
					h2{
						margin-top: 5px;
						margin-bottom: 5px;
					}
					img{
						width: 100%;
					}
				}

			/* POPULAR */
				/* HEADING */

					.popularrow{
						margin-top: 10px;
					}

		/* CONTACT */

			.contact{
			margin-bottom: 50px;

			#contactname, #contactemail{
				width: 95%;
				margin-left: 10px;
			}
		}

		/* DETAIL */

			/* TOP */
			

			.shoebutton{
				margin-top: 20px;
			}

			.shoesize .right{
				float: left !important;
			}

			.shoeborder{
				border: 1px solid #e6e6e6;
				width: 100%;
				margin-top: 30px;
				padding-top: 10px;
				img{
					width: 100%;
				}
			}
			.shoeborders{
			margin-top: 10px;
			height: 120px;
			width: 100px;
				img{
					width: 80%;
				}
			}





		/* TABS */

			.tabs-menu {
			    font-size: 12px;
			}

			.tabs-menu li {
			    width: 90px;
			}

			.tab-content {
			    width: 100%;
			    padding: 10px;
			}

	/* FOOTER */

	.footer{

		/* NEWSLETTER */
			.footer_top{
				min-height: 150px;
			}

		/* REALFOOTER */
			.footer_bot{
				padding-bottom: 30px;

				.col{
					padding: 0;
					margin: 0;
				}			
			}
	}

}




