<nav class="nav-extended navigation">
		<div class="container">
			<div class="nav-wrapper nav_top">
				<!-- TOP -->
					<a href="" class="brand-logo">
							<img src="images/logosupersports.png" alt="">
					</a>
					<ul class="nav_info right">
						<li><a href=""><i class="material-icons">phone</i>+45 12345678</a></li>
						<li><a href=""><i class="material-icons">mail_outline</i>LOREM@IPSUM.COM</a></li>
						<li><a class="checkout" href=""><i class="material-icons">shopping_cart</i>$ 99.54 CHECKOUT</a></li>
					</ul>
			</div>
		</div>
		<div class="container">
			<div class="nav-wrapper nav_bot">
				<!-- MENU -->
				<ul class="left">
					<li><a href="">HOME</a></li>
					<li><a href="">MEN</a></li>
					<li><a href="">WOMEN</a></li>
					<li><a href="">KIDS</a></li>
					<li><a href="">SALE</a></li>
					<li><a href="">ABOUT US</a></li>
					<li><a href="">SUPPORT</a></li>
				</ul>
				<div class="search right">
				<!-- SEARCH -->
					<form>
						<i class="material-icons searchicon">search</i>
						<input id="search" type="search" name="search" value="" placeholder="Search">
			          	
					</form>
				</div>
			</div>
		</div>
	</nav>